*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
}
.navbar{
    background: rgb(21, 56, 21);
    display: flex;
    text-align: center;
    padding: -10px;
}
nav{
    flex: 1;
    text-align: right;
    padding-right: 80px;
}
nav ul{
    display: inline-block;
    padding-top: 1.5%;
    list-style: none;
}
nav ul li{
    width: 80px;
    display: inline-block;
    margin-right: 10px;
}
.logo img{
    margin: 5px;
    padding-left: 80px ;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255) ;
} 
a:hover{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(63, 60, 60);
}
.container{
    max-width: auto;
    margin: auto;
    padding-left: -200px;
    padding-right: -100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 30%;
    min-width: 300;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: rgb(27, 114, 27);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 50px;
    transition: background 0.5s;
}

.btn:hover{
    background:rgb(41, 59, 41) ;
}
.header {
    background: radial-gradient(#fff,#c4e6c9);
}
.header .row{
    margin-top: 70px;   
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #597967;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0 ;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: black;
    font-weight: normal;
}
.col-4 P{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*---------offer-----------------------------------------------------------------------------------------------*/
.offer{
    background: radial-gradient(#fff,#c4e6c9);
    margin-top: 80px;
    padding-top: 30px 0;

}
.col-2 .offer-img{
    padding: 50px;
    
}
small{
    color: black;
}
.fa.fa-star{
    color: rgb(69, 134, 69);
}
.fa.fa-star-half-o{
    color: rgb(69, 134, 69);
}
.fa.fa-quote-left{
    color: rgb(69, 134, 69);
    font-size: 34px;
}
/*-----testimonial--------------------------------------------------------------------------------------------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial {
    margin: 70px 0;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color:rgb(94, 89, 89);
    font-size: 16px;
}
/*--------------------------------------------Brands-----------------------------------------------------*/
.brands{
    margin: 100px auto;
}
.brands p{
    text-align: center;
    ali
}    
.col-5 {
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}
/*----footer-----------------------------------------------------------------------------------------------*/
.footer{
    background:rgb(3, 3, 3) ;
    color: #5a5757;
    font-size: 14px;
    padding-top: 50px;  
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
} 
.footer p{
    color: rgb(107, 106, 106);
    text-align: center;

}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 330px;
    margin-bottom: 100px;
}
.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12px;
    text-align: center;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    cursor: pointer;
}
.footer a{
    color: gray;
}
.footer a:hover{
    color:white;
    
}
.footer hr{
    border: none;
    background: rgb(126, 122, 122);
    height: 1px;
    margin:  20 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 40px;
    height: 60px;
    margin-right: 15px;  
    padding-top: 10px;
    padding-bottom: 1px;
}
/*----------Menu-------------------------------------------------*/

@media only screen and (max-width: 800px) {
    
    nav ul{
        position: absolute;
        top: 70opx;
        left: 0;
        background:rgb(63, 71, 45);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: black;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
         
    }
}
/*----------- All Products-----------------------------------------*/
.navbar-2{
    background: rgb(21, 56, 21);
    display: flex;
    text-align: center;
    padding: -10px;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid black;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px; 
}
.page-btn span{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; 
    cursor: pointer;

}
.page-btn span:hover{
    background:rgb(185, 218, 185);
    color: honeydew;
}
.page-btn a{
    color: rgb(27, 68, 27);
}
/*------------- Single Product Details -----------------------------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
} 
.single-product .col-2{
    padding: 20px;  
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    margin-left: 40%;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px ;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: black;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;   
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*------------ Cart items -------------------------------------------- */

.cart-page{
    margin: 100px auto;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background-color: rgb(51, 78, 51);
    font-weight: normal;
}
td{
    padding: 10px 5px;   
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: teal;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px; 
}   
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid rgb(18, 58, 18);
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*----------Media---------------------------------------------------*/
.account-page{
    padding: 100px;
    padding-bottom: px;
    background: radial-gradient(#fff,#c4e6c9);
}
.form-container{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(173, 170, 170);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: black;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;

}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(160, 149, 149);
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form.btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 15px;
    color: rgb(117, 108, 108);
}
#Indicator{
    width: 100px;
    border: none;
    background: rgb(28, 85, 45);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/*------------------------------- Checkout Form --------------------------------------*/

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    
}
.col-25 a{  
    color:black;
}    
.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}
.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}
.col-25,.col-50,.col-75 {
    padding: 0 16px;
    
}
.error {
    color: red;
    border-color: red;
}   
.container-1{
    background-color: #FFFFFF;
    padding: 3px 18px 13px 18px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}
input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(235, 3, 3);
    border-radius: 1px;
}
label {
    margin-bottom: 10px;
    display: block;
}
.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}
.btn {

    border: none;
    cursor: pointer;
    font-size: 17px;
}
.container-1 a{
    color: black;
}
hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}     
    
/*----------Media---------------------------------------------------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    } 
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0:
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    .row video{
        display: flex;
        height: 250px;
        margin-top: 40px;
        margin-bottom:-70px ;
        align-items: center;
        margin-left: 30px;
    }
    .col img{
    height: 140px;
    margin-top: 80px;
    }
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}

